<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/create/create.css">
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>


<main>
  <div class="mainDiv">
    <h1><% if(model){ %>Редагування<% } else{ %>Створення<% } %> задачі</h1>
    <form action="/create" method="post">
      <input type="hidden" name="id" value="<%- model?.id || '' %>">
      <input type="text" value="<%- model?.text || ''%>" placeholder="Текст завдання" name = "taskText">
      <select name="priority">
        <% for(let i = 0; i < priorities.length; i += 1) { %>
          <option <%= priorities[i].value === model?.priority ? "selected" : "" %> value="<%- priorities[i].value %>"><%- priorities[i].name %></option>
        <% } %>
      </select>
      <button type="submit">Зберегти</button>
    </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>