<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/index/index.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>


<script>
  function deleteElement(index) {
    console.log(index)
    axios.post('/deleteTask', { index })
      .then(response => {
        console.log("Array updated successfully!");
      })
      .catch(error => {
        console.error("Error updating array!", error);
      })
      .finally(res =>{
        window.location.href = "/";
      });
  }
</script>

<main>
  <div class="mainDiv">
    <h1>Перелік задач</h1>

    <ul>
      <% if(tasksList.length>0){ %>
        <%for(let i=0;i<tasksList.length;i++){ %>
          <li class="task" >
            <p class="taskText"> <%- tasksList[i].text %></p>
            <p class="taskPriority"> Пріоритет: <%- tasksList[i].priority %></p>
            <p class="taskDate"> Дата створення: <%- tasksList[i].date.toLocaleString() %></p>
            <button class="deleteButton" onclick="deleteElement(<%- i %>)">Видалити</button>
          </li> 
          <% } %>
      <% } else{%>
        <p> Поки немає задач.</p>
      <% }%>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>