<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/index/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>


  <script>
    function deleteElement(index) {
      axios.post('/deleteTask', { index })
        .then(response => {
          console.log("Array updated successfully!");
        })
        .catch(error => {
          console.error("Error updating array!", error);
        })
        .finally(res => {
          window.location.href = "/";
        });
    }


    function tickElement(index) {
      axios.post('/tickTask', { index })
        .then(response => {
          console.log("Array updated successfully!");
        })
        .catch(error => {
          console.error("Error updating array!", error);
        })
        .finally(res => {
          window.location.href = "/";
        });
    }
  </script>

  <main>
    <div class="mainDiv">
      <h1>Перелік задач</h1>
      <form method="POST" action="/tasks">
        <label for="sortSelect">Сортувати за</label>
        <select name="byField" id="sortSelect">
          <option value="date">Датою</option>
          <option value="priority">Пріоритетом</option>
        </select>
        <button class="confirmButton" type="submit">Застосувати</button>
      </form>
      <ul>
        <% if(tasksList.length>0){ %>
          <%for(let i=0;i<tasksList.length;i++){ %>
            <li class="task">
              <p class="taskText">
                <%- tasksList[i].text %>
              </p>
              <p class="taskPriority"> Пріоритет:
                <% switch(tasksList[i].priority) { case 0: %>
                  Низький
                  <% break; case 1: %>
                    Середній
                    <% break; case 2: %>
                      Високий
                      <% break; default: %>
                        Не визначено
                        <% } %>
              </p>
              <p class="taskDate"> Дата створення: <%- tasksList[i].date.toLocaleString() %>
              </p>
              <div>
                <button class="deleteButton" onclick="deleteElement(<%- i %>)">Видалити</button>
                <input type="checkbox" onchange="tickElement(<%- i %>)" <%=tasksList[i].isDone ? "checked" : "" %> />
              </div>
            </li>
            <% } %>
              <% } else{%>
                <p> Поки немає задач.</p>
                <% }%>
      </ul>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>