<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/index/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>


  <script>
    function deleteElement(id) {
      console.log(id)
      axios.post('/deleteTask', { id })
        .then(response => {
          console.log("Array updated successfully!");
        })
        .catch(error => {
          console.error("Error updating array!", error);
        })
        .finally(res => {
          window.location.href = "/";
        });
    }

    function tickElement(id) {

      axios.post('/tickTask', { id })
        .then(response => {
          console.log("Array updated successfully!");
        })
        .catch(error => {
          console.error("Error updating array!", error);
        })
        .finally(res => {
          window.location.href = "/";
        });
    }
  </script>

  <main>
    <div class="mainDiv">
      <h1>Перелік задач</h1>
      <select onchange="location = this.value;">
        <% Object.keys(sortOptions).forEach((key)=> { %>
          <option <%=key===sort ? "selected" : "" %> value="?sort=<%- key %>"><%- sortOptions[key] %>
          </option>
          <% }); %>
      </select>
      <ul>
        <% if(tasksList.length>0){ %>
          <%for(let i=0;i<tasksList.length;i++){ %>
            <li class="task">
              <p class="taskText">
                <%- tasksList[i].text %>
              </p>
              <p class="taskPriority"> Пріоритет:
                <% const priority = Number(tasksList[i].priority) %>
                <p class="taskPriority"> Пріоритет: 
                  <% switch(priority) {
                    case 0: %>
                        Низький
                    <% break;
                    case 1: %>
                        Середній
                    <% break;
                    case 2: %>
                        Високий
                    <% break;
                    default: %>
                        Не визначено
                    <% } %>
              </p>
              </p>
              </p>
              <p class="taskDate"> Дата створення: <%- tasksList[i].date.toLocaleString() %>
              </p>
              <div>
                <a href="/edit/<%- tasksList[i].id %>"><button class="editButton">Редагувати</button></a>
                <button class="deleteButton" onclick="deleteElement(`<%- tasksList[i].id %>`)">Видалити</button>
                <input type="checkbox" onchange="tickElement(`<%- tasksList[i].id %>`)" <%=tasksList[i].isDone
                  ? "checked" : "" %> />
              </div>
            </li>
            <% } %>
              <% } else{%>
                <p> Поки немає задач.</p>
                <% }%>
      </ul>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>